.section-container {
  width: var(--cWidth);
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 1600px) {
  .section-container {
    width: var(--cWidth);
    max-width: 1300px;
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: var(--cWidth);
    max-width: 1150px;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: var(--cWidth);
    max-width: 100%;
  }
}
